:root {
    --clay-green: #739A78;
    --glass-green-1: #006A4E;
    --glass-green-2: #052E23;
    --glass-green-3: #6E9A8E;
    --glass-green-border: #042F24;
    --moss-green: #2EC57C;
    --dark-grey-green: #121614;
    --tiffany-glass: #95D1C1;
    --blood: #6A0000;
    --tomato: #9D0000;
    --slate-grey: #C7C9C9;
    --offGrey-btn-theme: #2E4339;
}

/* Define Consolas font */
@font-face {
    font-family: 'Consolas';
    src: url(./assets/fonts/Consolas.ttf) format('truetype');
    font-display: swap; /* Optional for better font loading */
}

/* Define CONSOLA font */
@font-face {
    font-family: 'CONSOLA';
    src: url(./assets/fonts/CONSOLA.TTF) format('truetype');
    font-display: swap;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: "JetBrains Mono", monospace;
}

body {
    background: linear-gradient(to bottom,
            #040706 20%,
            #0f1817 60%,
            #152520,
            #223d34,
            #4e7265);

            color: var(--moss-green);
    font-size: 1.4rem;
}

/* Id's */
#section-nav {
    margin: 2rem 5rem 0 5rem;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-ul {
    display: inline-flex;
    background-color: var(--glass-green-2);
    padding: 0.12rem 2rem;
    border-radius: 3px;
    column-gap: 1.75rem;
}

#nav-hr {
    border-style: solid;
    margin-top: 1.25rem;
    border-color: var(--blood);
    background-color: var(--blood);
    height: 3.6px;
}

#location {
    color: var(--slate-grey);
    font-size: 0.85em;
    padding-right: 0.5em;
}

#div-home {
    margin: 8rem 5rem 0 5rem;
    height: 60vh;
    border: 2px solid var(--blood);
}

#profile {
    width: 28vw;
    border: 2px solid lime;
}

#p-home-span {
    color: var(--glass-green-1);
}

#ul-social-icons {
    
}

/* Classes */
.nav-li {
    list-style: none;
    color: var(--moss-green);
    opacity: 100%;
    /* border: 1px solid orange; */
}

.nav-li>a {
    color: var(--moss-green);
    text-decoration: none;
}

.container-text {
    color: var(--moss-green);
    font-size: 1.75rem;
    /* border: 1px dashed red; */
}

.container {
    height: 400px;
    width: 650px;
    margin: auto;
    padding: 2.5rem 2rem;
    border: 3px solid var(--glass-green-border);
    border-radius: 10px;
    background: linear-gradient(160deg, 
    rgba(76, 107, 99, 0.0844712885154062) 8%, 
    rgba(76, 107, 99, 0.1444712885154062) 50%, 
    rgba(110, 154, 142, 0.2063200280112045) 80%, 
    rgba(149, 209, 193, 0.2403256302521008) 100%);
}

/* Pseudoselectors */
.nav-li>a:hover {
    color: rgba(239, 243, 237, 0.952);
    transition: 0.5s;
}

.nav-li>a:not(:hover) {
    transition: 0.5s;
}

.container :nth-child(2) {
    margin-top: 4rem;
}

.p-home-header {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 4em;
}

.p-home {
    font-family: "CONSOLA","JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 3em;
}