:root {
    --container-color-1: rgba(55, 78, 72, 0.23);
    --container-color-2: rgba(127, 180, 166, 0.43);
    --container-border-1: #006A4E;
    --container-border-2: #00D099;
    --container-project-gradient-1: rgba(127, 180, 166, 0.29);
    --container-project-gradient-2: rgba(55, 78, 72, 0.12);
    --glass-green-2: #052E23;
    --glass-green-3: #6E9A8E;
    --glass-green-border: #042F24;
    --tiffany: #95D1C1;
    --blood: #6A0000;
    --tomato: #9D0000;
    /* font colors */
    --sea-green: #2EC57C;
    --slate-grey: #C7C9C9;
    /* not used yet */
    --seafoam-green: #93E9BE;
    --clay-green: #739A78;
    --stone-green: #2E4339;
    --blackish-green: #121614;
}

/* Define Consolas font */
@font-face {
    font-family: 'Consolas';
    src: url(/assets/fonts/Consolas.ttf) format('truetype');
    font-display: swap;
    /* Optional for better font loading */
}

/* Define CONSOLA font */
@font-face {
    font-family: 'CONSOLA';
    src: url(/assets/fonts/CONSOLA.TTF) format('truetype');
    font-display: swap;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    font-size: 62.5%;
}

body {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    background: linear-gradient(to bottom,
            #040706 20%,
            #0f1817 60%,
            #152520,
            #223d34,
            #4e7265);
    background-attachment: fixed;
    color: var(--sea-green);
    font-size: 1.4rem;
}

/* navbar */
#navbar {
    margin: 2rem 5rem 0em;
    font-family: "JetBrains Mono", monospace;
}

#nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

#nav-ul {
    display: inline-flex;
    margin-bottom: unset;
    align-self: center;
    background-color: var(--glass-green-2);
    padding: 0 2rem;
    border-radius: 3px;
    column-gap: 1.5rem;
}

.nav-li {
    list-style: none;
}

.nav-li>a {
    color: var(--sea-green);
    text-decoration: none !important;
}

.nav-li>a:hover {
    color: rgba(239, 243, 237, 0.952);
    transition: 0.5s;
}

.nav-li>a:not(:hover) {
    transition: 0.5s;
}

#location {
    color: var(--slate-grey);
    font-size: 0.85em;
    padding-right: 0.5em;
    margin-bottom: unset;
    align-self: center;
}

#nav-hr {
    border-style: solid;
    margin-top: 1.25rem;
    border-color: var(--blood);
    background-color: var(--blood);
    height: 2.5px;
}

/* home */
#home {
    padding-top: 2em;
    /* border: 2px dashed yellow; */
}

#container-home {
    /* Ensures the pseudo-element is positioned relative to the container */
    position: relative;
    height: 65vh;
    margin: 8em 16em;
    padding: 1em 4em;
    border-radius: 10px;
    background: linear-gradient(200deg,
            var(--container-color-1) 40%,
            var(--container-color-2) 100%);
    z-index: 0;
}

#container-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    /* Match the border-radius of the container */
    padding: 4px;
    /* Adjust padding to match the border width */
    background: linear-gradient(to bottom, var(--container-border-1) 0%, var(--container-border-2) 100%);
    -webkit-mask:
        /* Ensures the border-radius is applied */
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    /* Ensures the pseudo-element doesn't interfere with container content */
    pointer-events: none;
}

#header-name {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 6em;
    color: var(--sea-green);
    position: relative;
    top: 0.25em;
}

#profile {
    position: relative;
    top: -1.8em;
    left: 5.5em;
    width: 380px;
    height: 468px;
    z-index: -1;
    object-fit: contain;
}

#ul-social-icons {
    position: relative;
    width: 260px;
    top: -6.7em;
    left: 240px;
    display: flex;
}

.li-social-icons {
    font-size: 6.2em;
    list-style: none;
}

.social-icon {
    color: var(--sea-green);
}

.social-icon:hover {
    color: var(--slate-grey);
    transition: 0.5s;
}

.social-icon:not(:hover) {
    transition: 0.5s;
}

#intro {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    font-weight: bold;
    font-size: 4.5em;
    position: relative;
    top: -11.5em;
    left: 10em;
    width: 68%;
    padding: 0 0em 0 2em;
    /* border: 2px dashed var(--tiffany-glass); */
    /* border: 2px dashed var(--tiffany-glass); */
}

#intro-span {
    color: var(--container-border-1);
}

/* projects */
#projects {
    /* padding-bottom: 3em;
    margin-bottom: 3em; */
    /* border: 2px dashed red; */
}

#skills-wrapper {
    /* margin: 18em 20em; */
    padding: 18em 20em;
    /* border: 2px dotted var(--tomato); */
}

#skills {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    font-weight: bold;
    font-size: 3.5em;
    text-align: justify;
    margin-bottom: unset;
    /* border: 2px dotted var(--tiffany); */
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 8em;
    /* border: 1px dashed var(--tiffany); */
}

.project-container-wrapper {
    margin: 1em 1.25em;
}

.project-container {
    font-family: "Roboto Flex", "JetBrains Mono", monospace;
    color: var(--slate-grey);
    position: relative;
    height: 300px;
    max-height: 360px;
    width: 375px;
    padding: 2.5em;
    border-radius: 10px;
    background: linear-gradient(var(--container-project-gradient-1) 50%,
            var(--container-project-gradient-2) 100%);
    z-index: 0;
}

.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    /* Match the border-radius of the container */
    padding: 4px;
    /* Adjust padding to match the border width */
    background: linear-gradient(to bottom, var(--container-border-1) 0%, var(--container-border-2) 100%);
    -webkit-mask:
        /* Ensures the border-radius is applied */
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    /* Ensures the pseudo-element doesn't interfere with container content */
    pointer-events: none;
}

.stack-icon {
    font-size: 3.25em;
}

.project-title {
    font-size: 2.25em;
    font-weight: 500;
    margin-top: 0.25em;
}

.project-desc {
    height: 100px;
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 2em;
}

.view-project-wrapper {
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    align-content: center;
    color: var(--tiffany);
    margin-top: 2em;
}

.view-project-wrapper * {
    /* border: 1px solid red; */
}

.view-project {
    margin-bottom: unset;
}

#i-hyperlink {
    font-size: 1.3em;
    margin-right: 0.5em;
    align-self: center;
    color: var(--tiffany);
}

.project-link {
    color: var(--tiffany);
}

.project-link:hover {
    color: var(--tiffany);
}

/* about */
#about {
    padding-bottom: 10em;
    /* border: 3px dotted rgb(90, 205, 115); */
}

.about-text-wrapper {
    display: flex;
    /* border: 2px solid rgba(255, 251, 0, 0.685); */
}

#about-text-top {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    text-align: justify;
    margin: 1em auto;
    padding: 0 5.5em;
    font-weight: bold;
    font-size: 3em;
    /* border: 1px solid lime; */
}

#about-text-bottom {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    text-align: justify;
    margin: 1em auto;
    padding: 0 5.5em;
    font-weight: bold;
    font-size: 3em;
    /* border: 1px solid lime; */
}


#exempli-gratia {
    position: absolute;
    /* transform: rotate(270deg); */
    color: var(--slate-grey);
    border: 2px solid var(--container-border-2);
    font-size: 1.25em;
    top: 170em;
    /* font-style: italic; */
}

#about-imgs-div {
    display: flex;
    justify-content: center;
    padding: 1em;
    /* border: 2px solid greenyellow; */
}

.about-img {
    width: 40vw;
    object-fit: cover;
}