:root {
    /* container colors */
    --container-shade-1: rgba(55, 78, 72, 0.23);
    --container-shade-2: rgba(127, 180, 166, 0.43);
    --container-border-1: #006A4E;
    --container-border-2: #00D099;

    --container-project-gradient-1: rgba(127, 180, 166, 0.29);
    --container-project-gradient-2: rgba(55, 78, 72, 0.12);
    /* other features */
    --dark-tempered-glass: #052E23;
    --blood: #6A0000;
    /* font colors */
    --sea-green: #2EC57C;
    --sage: #6E9A8E;
    --tiffany: #95D1C1;
    --slate-grey: #C7C9C9;
    --transparent-sage: rgba(214, 226, 223, 0.651);
    /* unused */
    --seafoam-green: #93E9BE;
    --clay-green: #739A78;
    --stone-green: #2E4339;
    --dark-tempered-glass-alt: #042f24;
    --seaweed: #121614;
    --tomato: #9D0000;

}

/* Define Consolas font */
@font-face {
    font-family: 'Consolas';
    src: url(/assets/fonts/Consolas.ttf) format('truetype');
    font-display: swap;
    /* Optional for better font loading */
}

/* Define CONSOLA font */
@font-face {
    font-family: 'CONSOLA';
    src: url(/assets/fonts/CONSOLA.TTF) format('truetype');
    font-display: swap;
}

/* Define Droid Sans font */
@font-face {
    font-family: 'Droid Sans';
    src: url(/assets/fonts/droid-sans-regular.ttf) format('truetype');
    font-display: swap;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    background: linear-gradient(to bottom,
            #040706 20%,
            #0f1817 60%,
            #152520,
            #223d34,
            #4e7265);
    background-attachment: fixed;
    color: var(--sea-green);
    font-size: 1.4rem;
}

/* navbar */
#navbar {
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    padding: 2rem 5rem 0rem;
    padding-top: 2rem;
}

#nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

#nav-ul {
    display: inline-flex;
    margin-bottom: unset;
    background-color: var(--dark-tempered-glass);
    padding: 0.15em 2rem;
    border-radius: 3px;
    column-gap: 1.5rem;
    align-items: center;
    overflow: hidden;
    z-index: 3;
}

.nav-li {
    list-style: none;
}

.nav-li>a {
    color: var(--sea-green);
    text-decoration: none !important;
}

.nav-li>a:hover {
    color: rgba(239, 243, 237, 0.952);
    transition: 0.5s;
}

.nav-li>a:not(:hover) {
    transition: 0.5s;
}

#location {
    color: var(--slate-grey);
    font-size: 0.85em;
    padding-right: 0.5em;
    margin-bottom: unset;
    align-self: center;
}

#navbar-email-btn {
    color: var(--slate-grey);
    display: inline-flex;
    /* column-gap: 0.5em; */
    align-items: center;
    background: none;
    border: none;
}

#navbar-email-btn:hover {
    color: var(--sage);
    cursor: pointer;
}

#navbar-email-btn:not(:hover) {
    color: var(--slate-grey);
}

#navbar-email-btn:active {
    color: var(--container-border-1);
}

#navbar-email-btn:focus {
    outline-style: none;
}


#navbar-email-btn:not(:focus) {
    outline-style: none;
    outline-color: #00000000;
}


#navbar-email-btn>p {
    margin-bottom: unset;
}

#navbar-email-btn-copy-i {
    color: var(--sage);
}

#nav-hr {
    border-style: solid;
    margin-top: 1.25rem;
    border-color: var(--blood);
    background-color: var(--blood);
    height: 2.5px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 2em;
}

.sticky+.content {
    padding-top: 60px;
}

/* home */
#home {
    padding-top: 2em;
}

#container-home {
    display: inline-grid;
    grid-template-columns: auto auto;
    height: 613px;
    margin: 8em 16em;
    padding: 1em 4em;
    border-radius: 7px;
    border: 4px solid var(--container-border-1);
    background: linear-gradient(200deg,
            var(--container-shade-1) 40%,
            var(--container-shade-2) 100%);
    position: relative;
    /* Ensure the container is positioned relative for the pseudo-element */
    /* overflow: hidden; */
    z-index: 0;
}

/* #container-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -1em -4em;
    border-radius: 10px; Match the border-radius of the container
    background: linear-gradient(to bottom, var(--container-border-1) 0%, var(--container-border-2) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    pointer-events: none; Ensure the pseudo-element doesn't interfere with container content
    z-index: -1; Ensure the pseudo-element is behind the container content
} */

#container-home-div-1 {
    height: 594px;
    padding: 0 6em 0 0;
}

#container-home-div-2 {
    height: 594px;
    align-content: center;
}

#header-name {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 6em;
    color: var(--sea-green);
    position: relative;
    top: 0.25em;
}

#profile {
    position: relative;
    top: -1.8em;
    left: 5.5em;
    width: 380px;
    height: 468px;
    z-index: -1;
    object-fit: contain;
}

#ul-social-icons {
    position: relative;
    width: 260px;
    top: -6.7em;
    left: 240px;
    display: flex;
}

.li-social-icons {
    font-size: 6.2em;
    list-style: none;
}

.social-icon {
    color: var(--sea-green);
}

.social-icon:hover {
    color: var(--container-border-1);
    transition: 0.5s;
}

.social-icon:not(:hover) {
    transition: 0.5s;
}

#intro {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    font-weight: bold;
    font-size: 5.5em;
    text-align: center;
    margin-bottom: unset;
}

#intro-span {
    color: var(--container-border-1);
}

/* projects */
#projects {
    margin-top: 4em;
}

#skills-wrapper {
    padding: 14em 20em;
}

#skills {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    font-weight: bold;
    font-size: 3.5em;
    text-align: justify;
    margin-bottom: unset;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    padding-bottom: 8em;
}

.project-container-wrapper {
    margin: 1em 1.25em;
}

.project-container {
    font-family: "Roboto Flex", "JetBrains Mono", monospace;
    color: var(--slate-grey);
    position: relative;
    height: 280px;
    width: 375px;
    padding: 2.5em;
    border-radius: 7px;
    background: linear-gradient(var(--container-project-gradient-1) 50%,
            var(--container-project-gradient-2) 100%);
    z-index: 0;
}

.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    padding: 4px;
    background: linear-gradient(to bottom, var(--container-border-1) 0%, var(--container-border-2) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    pointer-events: none;
}

.stack-icon {
    font-size: 3.25em;
}

.project-title {
    font-size: 2.25em;
    font-weight: 500;
    margin-top: 0.25em;
}

.project-desc {
    height: 100px;
    font-size: 1.5em;
    font-weight: 200;
    margin: 1.5em 0 0 0;
}

.view-project-wrapper {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--tiffany);
    display: flex;
    align-content: center;
    position: absolute;
    top: 230px;
    margin: 0;
}

.view-project {
    margin-bottom: unset;
}

#i-hyperlink {
    font-size: 1.3em;
    margin-right: 0.5em;
    align-self: center;
    color: var(--tiffany);
}

.project-link {
    color: var(--tiffany);
}

.project-link:hover {
    color: var(--tiffany);
    font-weight: bold;
    transition: 0.5s;
}

.project-link:not(:hover) {
    transition: 0.5s;
}

/* about */
#about {
    padding-bottom: 10em;
}

#about-text-top,
#about-text-bottom {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    color: var(--sea-green);
    text-align: justify;
    margin: 1em auto;
    padding: 0 5.5em;
    font-weight: bold;
    font-size: 3em;
    display: block;
    width: fit-content;
    /* Adjust width to fit content for horizontal centering */
}

#about-text-top {
    margin-top: 0 !important;
    padding-top: 1.5em;
}

#about-imgs-div {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1em;
}

#exempli-gratia {
    font-family: 'Droid Sans', 'JetBrains Mono', "CONSOLA", monospace;
    font-size: 1.45em;
    font-weight: bold;
    color: var(--slate-grey);
    padding: 0.25em;

    background: rgba(0, 0, 0, 0.418);
    position: absolute;
    /* Position absolutely w/in relative parent */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 42%;
    z-index: 77;
}

#eg {
    font-family: 'CONSOLA', monospace;
    font-size: 1.45em;
    font-style: italic;
    color: var(--sea-green);
    position: block;
    margin-bottom: unset;
    text-align: center;
}

.about-img {
    width: 40vw;
    object-fit: cover;
}

/* contact */
#contact-text {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    font-size: 3em;
    font-weight: bold;
    color: var(--sea-green);
    text-align: justify;
    display: block;
    margin: 0 auto 1.5em auto;
    padding: 1.25em 5.5em 0 5.5em;
    /* width: fit-content;
    Adjust width to fit content for horizontal centering */
    /* border: 3px dotted rgb(90, 205, 115); */
}

#copy-email-wrapper {
    text-align: center;
}

#click-to-copy {
    color: var(--transparent-sage);
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: unset;
    padding-left: 0.25em;
}

#copy-email-btn {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.85em;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    padding: 0 0.2em;
    background: none;
    text-decoration: none;
    border: 2px solid rgba(55, 78, 72, 0);
    border-radius: 5px;
}

#copy-email-btn:hover {
    border: 2px solid var(--transparent-sage);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#copy-email-btn:not(:hover) {
    transition: 0.5s;
}

#copy-email-btn:focus {
    outline-style: solid;
    outline-color: rgba(0, 190, 0, 0);
    /* TODO: use JS setTimeout to reset the properties */
    outline-offset: 10px;
}

.bxs-copy-alt {
    color: var(--sea-green);
    margin-right: 0.5em;
}

#my-email {
    color: var(--sea-green);
    margin-bottom: unset;
}

form {
    padding: 1em 165px 10em;
}

#name-label,
#email-label,
#subject-label,
#message-label {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    font-size: 2.15em;
    font-weight: bold;
    color: var(--sea-green);
}

#name-label {
    margin-top: 0.85em;
}

#email-label,
#subject-label,
#message-label {
    margin-top: 0.5em;
}

#name,
#email,
#subject,
#message {
    color: var(--slate-grey);
    font-family: monospace;
    font-size: 2em;
    padding-left: 10px;
    width: 65%;
    max-width: 700px;
    height: 2em;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgba(55, 78, 72, 0.38),
            rgba(127, 180, 166, 0.29));
}

#message {
    height: 7em;
}

#name::placeholder,
#email::placeholder,
#subject::placeholder,
#message::placeholder {
    color: rgba(214, 226, 223, 0.22);
}

#name:focus,
#email:focus,
#subject:focus,
#message:focus {
    outline-color: var(--clay-green);
}

#submit-btn {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 65%;
    height: 40px;
    max-width: 700px;
    background: linear-gradient(rgba(127, 180, 166, 0.473) 0%,
            rgba(91, 129, 119, 0.11) 50%,
            rgba(127, 180, 166, 0.27) 100%);
    border: none;
}

#submit-btn:hover {
    /* background: linear-gradient(rgba(91, 129, 119, 0.568) 0%,
            rgba(127, 180, 166, 0.342) 50%,
            rgba(127, 180, 166, 1) 100%);
    transition: 0.5s; */
    cursor: pointer;
}

/* use JS to make this happen.
    - if hover over #submit-btn, do something to all elem inside
#submit-btn > *:hover {
    color: var(--tiffany);
}

#submit-btn:not(:hover) {
    transition: 0.5s;
}
*/

#submit,
.bx-mail-send {
    color: var(--transparent-sage);
}

#submit {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    background: none;
    border: none;
}

.bx-mail-send {
    font-size: 2.25em;
    padding-right: 10px;
}

/* footer */
footer {
    padding: 2em 0 4em 0;
}

.footer-icon-wrapper {
    text-align: center;
}

.bx-chevron-up-circle {
    font-size: 5em;
    color: rgba(214, 226, 223, 0.22);
}

.bx-chevron-up-circle:hover {
    color: var(--transparent-sage);
    transition: 0.5s;
}

.bx-chevron-up-circle:not(:hover) {
    transition: 0.5s;
}

/* Media Queries */
/* Laptop L - 1265px — 1440px */
@media (max-width: 1440px) {

    /* home */
    #container-home {
        margin: 8em 10em;
        padding: 1em 0.5em 0em 4em;
        border: none;
    }

    #intro {
        font-size: 4.5em;
        padding: 1em;
    }

    /* about */
    #exempli-gratia {
        font-size: 1.75em;
        font-weight: bold;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 42%;
    }
}

/* Large screens and Desktops – 1025px — 1264px */
@media (max-width: 1264px) {

    /* home */
    #container-home {
        padding: 0em 0.5em 0em 4em;
        align-items: center;
    }

    #intro {
        font-size: 3.85em;
        padding: 0 1em;
    }
}

@media (max-width: 1161px) {

    /* home */
    #intro {
        font-size: 3.5em;
    }

    #header-name {
        font-size: 4.9em;
        position: relative;
        top: 64px;
    }

    #profile {
        top: 36px;
        width: 323px;
        height: auto;
        z-index: -1;
        object-fit: contain;
    }

    #ul-social-icons {
        position: relative;
        width: 260px;
        top: -10px;
        left: 190px;
        display: flex;
    }

    .li-social-icons {
        font-size: 5.9em;
    }

    /* projects */
    #skills {
        text-align: center;
    }

    #name,
    #email,
    #subject,
    #message,
    #submit-btn {
        width: 75%;
    }
}

/* Laptops and small screen – 769px — 1024px */
@media (max-width: 1024px) {

    /* navbar */
    #navbar {
        padding: 1.5em 1.5em 0em;
    }

    #nav {
        display: block;
    }

    #nav-ul {
        column-gap: 1em;
    }

    #location {
        margin: 1.25rem 0;
        text-align: center;
        line-height: 1.75em;
        font-size: 0.9em;
    }

    #nav-hr {
        margin-top: unset;
        height: 2px;
    }

    /* home */
    #container-home {
        padding: 0em 0.5em 0em 2em;
        height: 450px;
        margin: 4em 2em;
    }

    #container-home-div-1,
    #container-home-div-2 {
        height: 431px;
    }

    #intro {
        font-size: 3em;
    }

    #header-name {
        font-size: 4.1em;
        top: 34px;
    }

    #profile {
        top: 10px;
        width: 245px;
    }

    #ul-social-icons {
        top: -25px;
        left: 135px;
    }

    .li-social-icons {
        font-size: 4.9em;
    }

    /* projects */
    #skills-wrapper {
        padding: 14em 10em;
    }

    #skills {
        font-size: 3em;
    }

    /* about */
    #about-text-top,
    #about-text-bottom {
        padding-left: 100px;
        padding-right: 100px;
    }

    #about-text-top {
        text-align: center;
    }

    .about-img {
        width: 45vw;
    }

    /* contact */
    form {
        font-size: 0.85em;
        padding-left: 100px;
        padding-right: 100px;
    }

    #contact-text {
        padding-left: 100px;
        padding-right: 100px;
    }

    #name,
    #email,
    #subject,
    #message,
    #submit-btn {
        width: 100%;
    }
}

/* iPads and Tablets – 481px — 768px */
@media (max-width: 768px) {

    /* home */
    #home {
        padding: 0;
    }

    #container-home {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: auto auto;
        /* height: 77vh;
        use this height if you want to add something
        below #intro */
        height: 72vh;
        padding: 0;
        margin: 4em 2em 8em 2em;
        background: linear-gradient(0deg,
                var(--container-shade-1) 40%,
                var(--container-shade-2) 100%);
    }

    #container-home-div-1 {
        height: 405px;
        justify-self: center;
    }

    #container-home-div-2 {
        height: 200px;
        align-self: flex-start;
    }

    #intro {
        padding: 0 0.75em 2em;
        font-size: 2.5em;
    }

    #header-name {
        top: 24px;
    }

    #profile {
        top: 0px;
    }

    #ul-social-icons {
        top: -35px;
    }

    /* projects */
    #skills-wrapper {
        padding: 12em 8em;
    }

    #skills {
        font-size: 2.5em;
    }

    /* about */
    #exempli-gratia {
        font-size: 1.3em;
        font-weight: 400;
        width: 100%;
    }

    #about-text-top,
    #about-text-bottom,
    #contact-text {
        font-size: 2em;
        padding-left: 80px;
        padding-right: 80px;
    }

    /* contact */
    form {
        font-size: 0.75em;
        padding: 1em 70px 10em;
    }

    #name,
    #email,
    #subject,
    #message,
    #submit-btn {
        width: 100%;
    }
}

/* Mobile Devices – 360px — 480px */
/* Note that the default for mobile devices is to design for
a query b/w 320px - 480px but rarely any phones have width
320px anymore. */
@media (max-width: 480px) {

    /* navbar */
    #nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #location {
        line-height: 1.65em;
    }

    /* home */
    #home {
        margin-top: 2em;
    }

    #container-home {
        height: 650px;
        margin: 3em 2em 8em;
    }

    #container-home-div-1 {
        height: 375px;
        padding: 0;
        text-align: center;
    }

    #container-home-div-2 {
        align-content: center;
    }

    #intro {
        padding: 0em 0.5em;
        font-size: 2.2em;
    }

    #header-name {
        font-size: 3.75em;
    }

    #profile {
        left: 0px;
        width: 230px;
    }

    #ul-social-icons {
        position: relative;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

    /* projects */
    #skills-wrapper {
        padding: 12em 3em;
    }

    #skills {
        text-align: center;
        font-size: 2.25em;
    }

    .project-container-wrapper {
        margin: 1em 1.75em;
    }

    .project-container {
        width: 325px;
        padding: 2.5em;
    }

    /* about */
    #about-text-top,
    #about-text-bottom,
    #contact-text {
        font-size: 2em;
        padding-left: 50px;
        padding-right: 50px;
    }

    #about-text-top {
        text-align: justify;
    }

    /* #exempli-gratia {
        font-size: 0.9em;
    } */

    #about-imgs-div {
        padding-bottom: 5px;
    }

    #eg {
        font-family: 'CONSOLA', monospace;
        font-size: 1em;
        font-style: italic;
        color: var(--sea-green);
        position: block;
        margin-bottom: unset;
        text-align: center;
        padding: 0 1em;
    }

    /* contact */

    form {
        font-size: 0.75em;
        padding: 1em 50px 10em;
    }

    #name,
    #email,
    #subject,
    #message,
    #submit-btn {
        width: 100%;
    }

    #click-to-copy {
        font-size: 1em;
    }

    #copy-email-btn {
        font-size: 1.85em;
    }
}