:root {
    /* feature colors */
    --container-color-1: rgba(55, 78, 72, 0.23);
    --container-color-2: rgba(127, 180, 166, 0.43);
    --container-border-1: #006A4E;
    --container-border-2: #00D099;
    --container-project-gradient-1: rgba(127, 180, 166, 0.29);
    --container-project-gradient-2: rgba(55, 78, 72, 0.12);
    --dark-tempered-glass: #052E23;
    --glass-green-border: #042F24;
    --blood: #6A0000;
    --tomato: #9D0000;
    /* font colors */
    --sea-green: #2EC57C;
    --tiffany: #95D1C1;
    --slate-grey: #C7C9C9;
    --transparent-sage: rgba(214, 226, 223, 0.651);
    /* not used yet */
    --seafoam-green: #93E9BE;
    --sage: #6E9A8E;
    --clay-green: #739A78;
    --stone-green: #2E4339;
    --blackish-green: #121614;
}

/* Define Consolas font */
@font-face {
    font-family: 'Consolas';
    src: url(/assets/fonts/Consolas.ttf) format('truetype');
    font-display: swap;
    /* Optional for better font loading */
}

/* Define CONSOLA font */
@font-face {
    font-family: 'CONSOLA';
    src: url(/assets/fonts/CONSOLA.TTF) format('truetype');
    font-display: swap;
}

/* Define Droid Sans font */
@font-face {
    font-family: 'Droid Sans';
    src: url(/assets/fonts/droid-sans-regular.ttf) format('truetype');
    font-display: swap;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "CONSOLA", "JetBrains Mono", monospace;
    background: linear-gradient(to bottom,
            #040706 20%,
            #0f1817 60%,
            #152520,
            #223d34,
            #4e7265);
    background-attachment: fixed;
    color: var(--sea-green);
    font-size: 1.4rem;
}

/* navbar */
#navbar {
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    /* margin: 0 5rem 0em; */
    padding: 2rem 5rem 0rem;
    padding-top: 2rem;
}

#nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

#nav-ul {
    display: inline-flex;
    margin-bottom: unset;
    background-color: var(--dark-tempered-glass);
    padding: 0.15em 2rem;
    border-radius: 3px;
    column-gap: 1.5rem;
    align-items: center;
    /* border: 2px solid yellowgreen; */
    overflow: hidden;
    z-index: 3;
}

.nav-li {
    list-style: none;
}

.nav-li>a {
    color: var(--sea-green);
    text-decoration: none !important;
}

.nav-li>a:hover {
    color: rgba(239, 243, 237, 0.952);
    transition: 0.5s;
}

.nav-li>a:not(:hover) {
    transition: 0.5s;
}

#location {
    color: var(--slate-grey);
    font-size: 0.85em;
    padding-right: 0.5em;
    margin-bottom: unset;
    align-self: center;
}

#navbar-email-btn {
    color: var(--slate-grey);
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
}

#navbar-email-btn:hover {
    color: var(--sage);
    cursor: pointer;
}

#navbar-email-btn>p {
    margin-bottom: unset;
}

#navbar-email-btn-copy-i {
    color: var(--sage);
}

#nav-hr {
    border-style: solid;
    margin-top: 1.25rem;
    border-color: var(--blood);
    background-color: var(--blood);
    height: 2.5px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 2em;
}

.sticky+.content {
    padding-top: 60px;
}

/* Media Queries */
/* Mobile Devices – 320px — 480px */
@media only screen and (max-width: 480px) {
    #navbar {
        font-family: "JetBrains Mono", monospace;
        width: 100%;
        padding: 2rem 1rem 0rem;
        padding-top: 2rem;
        /* border: 2px dashed yellowgreen; */
    }

    #nav {
        display: block;
        justify-content: space-between;
        font-size: 1.3em;
    }
    
    #nav-ul {
        column-gap: 1em;
        /* border: 1px dashed orangered; */
        
    }

    #location {
        margin: 1.25rem 0;
        text-align: center;
        line-height: 1.65em;
    }

    #navbar-email-btn {
        column-gap: 0.5em;
    }

    #nav-hr {
        height: 2px;
    }
    
}

/* iPads and Tablets – 481px — 768px */
@media only screen and (max-width: 768px) {}

/* Laptops and small screen – 769px — 1024px */
@media only screen and (max-width: 1024px) {
    /* navbar is good */

}

/* Large screens and Desktops – 1025px — 1200px */
@media only screen and (max-width: 1200px) {
    /* navbar is good */
}